<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Nhà thuốc Hà Đông</title>
    <link rel="shortcut icon" type="image/jpg" href="./logo.png" />
    <!-- <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" /> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CXDKWYY8Y4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-CXDKWYY8Y4');
    </script>
</head>

<body>
    <noscript>Xin lỗi, chúng tôi cần trình duyệt của bạn chạy Javascript</noscript>
    <div id="root"></div>
</body>

</html>