.dau {
  margin-left: 12px;
  margin-right: 12px;
}

.giua {
  margin-left: 12px;
  margin-right: 12px;
}

.cuoi {
  margin-left: 12px;
  margin-right: 12px;
}

.cuoi2 {
  margin-left: 12px;
  margin-right: 12px;
}

.slick-prev:before,
.slick-next:before {
  color: yellow !important;
}
