.question {
    box-shadow: 11px 4px 11px 0px rgba(0,0,0,0.4);
    margin-bottom: 10px;
    padding: 10px 20px 0;
    /* border-top: 1px solid gray;  */
    /* border-bottom: 1px solid gray; */
}

.form > * {
    /* margin-bottom: 0; */
}

.formItem {
    margin-bottom: 8px !important;
}